<div class='heading-text'>Edit Mail Manager</div>
<% form_for(@mail_manager) do |f| %>
  <%= f.error_messages %>
  <div class='large-text'><%= label_tag 'Email:' %>&nbsp;
  <%= f.text_field :email %></div>
  <div class='large-text'><%= label_tag 'Group:' %>&nbsp;<select name="mail_manager[role]">
  		<option value="Account Approval" <%=(@mail_manager.role == 'Account Approval' ? 'selected' : '')%> >Account Approval</option>
  		<option value="Job Approval" <%=(@mail_manager.role == 'Job Approval' ? 'selected' : '')%> >Job Approval</option>
  		<option value="Inventory Managers" <%=(@mail_manager.role == 'Inventory Managers' ? 'selected' : '')%> >Inventory Managers</option>
		</select>  
  </div>
<div class="large-text"><%= label_tag 'Location' %>&nbsp;
  <%= select_tag "mail_manager[location]", options_for_select([ "Islamabad", "Khaskheli", "Sukkar" ], @mail_manager[:location]) %></p>
</div>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<div class='large-text'><%= link_to 'Show', @mail_manager %> |
<%= link_to 'Back', mail_managers_path %></div>
