<div class='heading-text'>Mail Managers</div>

<table>
  <tr class='large-text'>
    <th>Email</th><th>Role</th><th>Location</th><th></th>
  </tr>

<% for mail_manager in @mail_managers %>
  <tr class='normal-text'>
  	 <td><%= mail_manager.email %></td>
  	 <td><%= mail_manager.role %></td>
         <td><%= mail_manager.location %></td>
    <td><%= link_to 'View', mail_manager %></td>
    <td><%= link_to 'Edit', edit_mail_manager_path(mail_manager) %></td>
    <td><%= link_to 'Delete', mail_manager, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<div class='large-text'><%= link_to 'New Mail Manager', new_mail_manager_path %></div>
