<div class="heading-text">New Mail Manager</div>

<% form_for(@mail_manager) do |f| %>
  <%= f.error_messages %>
  <div class='large-text'><%= label_tag 'Email:' %>&nbsp;
  <%= f.text_field :email %></div>
  <div class='large-text'><%= label_tag 'Group:' %>&nbsp;<select name="mail_manager[role]">
  		<option value="Account Approval" selected>Account Approval</option>
  		<option value="Job Approval">Job Approval</option>
  		<option value="Inventory Managers">Inventory Managers</option>
		</select>  
  </div>
  <div class='large-text'><%= label_tag 'Location:' %>&nbsp;
  <%= select_tag "mail_manager[location]", options_for_select([ "Islamabad", "Khaskeili", "Sukkar" ], "Sukkar") %></p>
</div>
  <p>
    <%= f.submit "Create" %>
  </p><% end %>

<div class='large-text'><%= link_to 'Back', mail_managers_path %></div>
