<div class='large-text'>Email: <%=@mail_manager.email%></div>
<div class='large-text'>Group: <%=@mail_manager.role%></div>
<div class='large-text'>Location: <%=@mail_manager.location%></div>

<div class='large-text'><%= link_to 'Edit', edit_mail_manager_path(@mail_manager) %> |
<%= link_to 'Back', mail_managers_path %></div>
