<div class="heading-text">Sign In</div>
<% form_tag session_path do -%>
<div class="large-text floatleft140"><%= label_tag 'Login Name:' %></div>
<div><%= text_field_tag 'login', @login %></div>
<div class="large-text floatleft140"><%= label_tag 'Password:' %></div>
<div><%= password_field_tag 'password', nil %></div>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%= submit_tag 'Log in' %></p>
<% end -%>
