<div><span id="error" class='error' style="display:none;"></div>
<div>
	<label>Engineer:&nbsp;</label><input type="text" name="engineer" id="engineer" value=""/>&nbsp;
	<label>Supervisor:&nbsp;</label><input type="text" name="supervisor" id="supervisor" value=""/>&nbsp;
	<label>Truck:&nbsp;</label><input type="text" name="truck" id="truck" value=""/>&nbsp;
	<div style="clear:both;line-height:5px;">&nbsp;</div>
	<label>Rig:&nbsp;</label><input type="text" name="rig" id="rig" value=""/>&nbsp;
	<label>Well:&nbsp;</label><input type="text" name="well" id="well" value=""/>&nbsp;
</div>
<div style="clear:both;line-height:5px;">&nbsp;</div>
<div style="float:left;">
<input type="hidden" value="<%=form_authenticity_token()%>" id="authenticity_token"/>
<select name="products" id="products" onchange="updateQuantity(this.value, document.getElementById('bunkers').value, 'available-quantity'); updateProductDescription(this.value, 'product-description');">
<% @products.each do |p| %>
  <option value="<%=p.id%>" ><%=p.part_number%></option>
<%end%>
</select>
</div>
<div id="product-description" style="float:left;width:250px;"><%= (@products[0].description.length > 17 ? @products[0].description[0..16] + '...' : @products[0].description)%></div>
<div style="float:left;">
<select name="bunkers" id="bunkers" onchange="updateQuantity(document.getElementById('products').value, this.value, 'available-quantity');">
<% @bunkers.each do |b| %>
  <option value="<%=b.id%>" ><%=b.name%></option>
<%end%>
</select>
</div>
<div id="available-quantity" style="width:70px; float:left;margin-left:5px;text-align:center;"><%=@existing_quantity%></div>
<input name="quantity" id="quantity" type="text" value="" />
<a href="javascript:;" onclick="addProductToList();">Add</a>

<div style="clear:both;"></div>
<div class="product-list" id="product-list"></div>
<div style="clear:both;"></div>
<div><a href="javascript:;" onclick="createJob();">Create</a></div>
<div style="clear:both;"></div>
<div class="product-list-hid" id="product-list-hid" style="display:none;"></div>
<% @products.each do |p| %>
  <input type="hidden" id='<%= "product_#{p.id}" %>' value="<%=p.description%>" />
<%end%>

<% @bunkers.each do |b| %>
  <input type="hidden" id='<%= "bunker_#{b.id}" %>' value="<%=b.name%>" />
<%end%>

