<div><span id="error" class='error' style="display:none;"></span></div>
<%= render :partial => "notify_low_inventory" %>
<div class="large-text">
	<div style="width:100px;float:left;">Engineer:&nbsp;</div><div style="float:left;"><input type="text" name="engineer" id="engineer" value=""/>&nbsp;</div>
	<div style="width:100px;float:left;">Truck:&nbsp;</div><div style="float:left;"><input type="text" name="truck" id="truck" value=""/>&nbsp;</div>
	<div style="width:100px;float:left;">Rig:&nbsp;</div><div><input type="text" name="rig" id="rig" value=""/>&nbsp;</div>
	
	<div style="clear:both;line-height:5px;">&nbsp;</div>
	<div style="width:100px;float:left;">Well:&nbsp;</div><div style="float:left;"><input type="text" name="well" id="well" value=""/>&nbsp;</div>
	<div style="width:100px;float:left;">Explosive Van:&nbsp;</div><div style="float:left;"><input type="text" name="explosive_van" id="explosive_van" value=""/>&nbsp;</div>
	<div style="width:100px;float:left;">Client:&nbsp;</div><div style="float:left;"><input type="text" name="client_name" id="client_name" value=""/>&nbsp;</div>
</div>
<div style="clear:both;line-height:5px;">&nbsp;</div>
<div style="float:left;">
<input type="hidden" value="<%=form_authenticity_token()%>" id="authenticity_token"/>
<select name="products" id="products" onchange="updateQuantity(this.value, document.getElementById('bunkers').value, 'available-quantity'); updateProductDescription(this.value, 'product-description');">
<% @products.each do |p| %>
  <option value="<%=p.id%>" ><%=p.part_number%></option>
<%end%>
</select>
</div>
<div class="large-text" id="product-description" style="float:left;width:250px;"><%= (@products[0].description.length > 35 ? @products[0].description[0..34] + '...' : @products[0].description)%></div>
<div style="float:left;">
<select name="bunkers" id="bunkers" onchange="updateQuantity(document.getElementById('products').value, this.value, 'available-quantity');">
<% @bunkers.each do |b| %>
  <option value="<%=b.id%>" ><%=b.name%></option>
<%end%>
</select>
</div>
<div class="large-text" id="available-quantity" style="width:70px; float:left;margin-left:5px;text-align:center;"><%=@existing_quantity%></div>
<input name="quantity" id="quantity" type="text" value="" />
<span class="large-text"><a href="javascript:;" onclick="addProductToList();">Add</a></span>

<div style="clear:both;line-height:5px;">&nbsp;</div>
<div class="product-list normal-text" id="product-list"></div>
<div style="clear:both;"></div>
<div class="large-text"><a href="javascript:;" onclick="createJob();">Create</a></div>
<div style="clear:both;"></div>
<div class="product-list-hid" id="product-list-hid" style="display:none;"></div>
<% @products.each do |p| %>
  <input type="hidden" id='<%= "product_#{p.id}" %>' value="<%=p.description%>" />
<%end%>

<% @bunkers.each do |b| %>
  <input type="hidden" id='<%= "bunker_#{b.id}" %>' value="<%=b.name%>" />
<%end%>

