<div class="heading-text">Job Details</div>
<!-- render details of Job table here.. -->
<input type="hidden" value="<%=form_authenticity_token()%>" id="authenticity_token"/>
<input type="hidden" value="<%=@job.id%>" id="job_id"/>
<table>
	<tr class="large-text">
		<td width="90">Engineer:</td><td width="130"><%=@job.engineer%></td>
		<td width="150">Truck:</td><td width="90"><%=@job.truck%></td>
		<td width="90">Rig:</td><td width="110"><%=@job.rig%></td>
	</tr>
	<tr class="large-text">
		<td width="90">Well:</td><td width="90"><%=@job.well%></td>
    		<td width="150">Explosive Van:</td><td width="90"><%=@job.explosive_van%></td>
  		<td width="90">Client Name:</td><td width="110"><%=@job.client_name%></td>
  	</tr>
  	<tr class="large-text">
  		<td width="90">Job Status:</td><td width="110"><%=@job.status%></td>
  		<td width="90">Date:</td><td width="110"><%=@job.created_at.strftime('%d/%m/%Y') %></td>
  	</tr>
</table>
<div style="clear:both;line-height:5px;">&nbsp;</div>
<div><span id="error" class='error' style="display:none;"></div>
<div class="large-text">
<% if @job and @job.attachment_path and @job.attachment_path.strip.length > 0
	filepath = @job.attachment_path.strip.sub(/^public/, '')
%>
<div class="large-text"><a href='<%= "#{SITE_URL}#{filepath}"%>'>View Transportation NOC</a></div>
<%	end%>
<%= form_tag ({:action => 'upload_file', :controller => 'jobs'}, :multipart => true) %>
<p><label for="upload_file">Transportation NOC</label> : 
<%= file_field 'upload', 'datafile' %>
<input type="hidden" value="<%=@job.id%>" name="job_id" id="job_id"/>
<input type="hidden" value='<%="/jobs/#{@job.id}"%>' name="return_url" id="return_url"/>
<%= submit_tag "Upload" %>
</p>

</div>
<table>
<tr class="large-text"><th>ID</th><th>Part</th><th>Bunker</th><th>Quantity</th><th>Avail. Quantity</th><th></th><th></th></tr>
<% if(@job_details.length == 0) %>
<span class="alert">There are currently no parts assosiated with this job.</span>
<% end %>
<% count = 1 %>
<% @job_details.each do |j| %>
	<tr class="normal-text">
		<%part_bunker = "p#{j.part_id}b#{j.bunker_id}j#{j.job_id}"%>
		<td><%=count%></td>
		<td><%= resize_string(j.part_desc, 40) %></td>
		<td><%=j.bunker_name%></td>
		<td id="<%='curr_'+part_bunker%>"><%=j.quantity%></td>
		<td id="<%='avail_'+part_bunker%>"><%=j.available_quantity%></td>
		<td>
			<% unique_id = 'change_' + part_bunker %>
			<a onclick="$('<%=unique_id%>').show();" href="javascript:;">Change</a>
			<div id = "<%=unique_id %>" style="display:none;">
				<input type="text" id = "<%='val_' + part_bunker %>" value = "" />
				<a href="javascript:;" onclick="validateAndUpdateJobProduct('<%=part_bunker%>'); return false;">Go</a>
			</div>
		</td>
		<td><a href="javascript:;" onclick="removeProductFromJob('<%=part_bunker%>'); return false;">Remove</a></td>
	</tr>
	
	<% count += 1 %>
<% end %>
</table>

<!--Add HTML Starts HERE -->	
<div style="clear:both;line-height:5px;">&nbsp;</div>
<div style="float:left;">
<select name="products" id="products" onchange="updateQuantity(this.value, document.getElementById('bunkers').value, 'available-quantity'); updateProductDescription(this.value, 'product-description');">
<% @products.each do |p| %>
  <option value="<%=p.id%>" ><%=p.part_number%></option>
<%end%>
</select>
</div>
<div class = "normal-text" id="product-description" style="float:left;width:250px;font-size:13px;">&nbsp;<%= (@products[0].description.length > 35 ? @products[0].description[0..34] + '...' : @products[0].description)%></div>
<div style="float:left;">
<select name="bunkers" id="bunkers" onchange="updateQuantity(document.getElementById('products').value, this.value, 'available-quantity');">
<% @bunkers.each do |b| %>
  <option value="<%=b.id%>" ><%=b.name%></option>
<%end%>
</select>
</div>
<div class="large-text" id="available-quantity" style="width:70px; float:left;margin-left:5px;text-align:center;"><%=@existing_quantity%></div>
<input name="quantity" id="quantity" type="text" value="" />
<span class="large-text"><a href="javascript:;" onclick="addProductToList();">&nbsp;Add</a></span>

<div style="clear:both;"></div>
<div class="product-list" id="product-list"></div>
<div style="clear:both;"></div>
<div class="large-text"><a href="javascript:;" onclick="addProductsToExistingJob();">Add new Parts</a></div>
<div style="clear:both;"></div>
<div class="product-list-hid" id="product-list-hid" style="display:none;"></div>
<% @products.each do |p| %>
  <input type="hidden" id='<%= "product_#{p.id}" %>' value="<%=p.description%>" />
<%end%>

<% @bunkers.each do |b| %>
  <input type="hidden" id='<%= "bunker_#{b.id}" %>' value="<%=b.name%>" />
<%end%>
