<div class="heading-text">Editing User</div>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p class="large-text"><%= label_tag 'Name:' %>&nbsp;
  <%= f.text_field :name %></p>
  <p class="large-text"><%= label_tag 'Role:' %>&nbsp;
  <%= select_tag "user[role]", options_for_select([ ["Administrator","Manager"],["Engineer","Engineer"]], @user[:role]) %></p>
  <p class="large-text"><%= label_tag 'Location:' %>&nbsp;
  <%= select_tag "user[location]", options_for_select([ "Islamabad", "Khaskeili", "Sukkar" ], @user[:location]) %></p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
<div class="large-text">
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>
