<div class="heading-text">List of bunkers</div>

<table cellpadding="3" >
  <tr class="large-text">
  <td><%= label_tag 'Bunker Name'%></td>
  <td><%= label_tag 'Location' %></td>
  </tr>

<% for bunker in @bunkers %>
  <tr class="normal-text">
    <td class="table-border"><%= label_tag bunker[:name]%></td>
    <td class="table-border"><%= label_tag bunker[:location] %></td>
    <td class="table-border"><%= link_to 'View', bunker %></td>
    <td class="table-border"><%= link_to 'Edit', edit_bunker_path(bunker) %></td>
    <td class="table-border"><%= link_to 'Delete', bunker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="large-text"><%= link_to 'New bunker', new_bunker_path %></div>
