<div class="heading-text">New bunker</div>

<% form_for(@bunker) do |f| %>
  <%= f.error_messages %>
<p class="large-text"><%= label_tag 'Name:' %>&nbsp;
  <%= f.text_field :name %></p>
  <p class="large-text"><%= label_tag 'Location:' %>&nbsp;
  <%= select_tag "bunker[location]", options_for_select([ "Islamabad", "Khaskeli", "Sukkar" ], "Sukhar") %></p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<div class="large-text"><%= link_to 'Back', bunkers_path %></div>
