<table cellpadding="3" >
  <tr>
  <td class="large-text"><%= label_tag 'Bunker Name'%></td>
  <td class="large-text"><%= label_tag 'Location' %></td>
  </tr>
<tr class="normal-text">
  <td class="table-border"><%= label_tag @bunker[:name]%></td>
  <td class="table-border"><%= label_tag @bunker[:location] %></td>
  </tr>
</table>

<div class="large-text"><%= link_to 'Edit', edit_bunker_path(@bunker) %> |
<%= link_to 'Back', bunkers_path %></div>
