<div class="heading-text">New order</div>
<% form_for(@order) do |f| %>
  <%= f.error_messages %>
<div class="large-text floatleft140">Part No:</div>
   <div><select id="part_number" name="order[part_id]" onchange="updateDescription()">
        <% @products.each do |p| %>
        <option value="<%=p.id%>" ><%=p.part_number%></option>
        <%end%>
      </select>
</div>
<div class="large-text floatleft140">Description:</div>
<div><select id="description" disabled="true" name="order[description]">
        <% @products.each do |p| %>
        <option value="<%=p.id%>" ><%=p.description%></option>
        <%end%>
      </select>
</div>
<div class="large-text floatleft140"><%= label_tag 'Order No' %></div>
<div><%= f.text_field :order_number %></div>
<div class="large-text floatleft140"><%= label_tag 'Order Quantity' %></div>
<div><%= f.text_field :original_quantity %></div>
<div class="large-text floatleft140"><%= label_tag 'Order Status=' %></div>
<div><%= f.text_field :status,:readonly=>"true"%></div>
<div class="large-text">
  <%= f.submit "Create" %>
</div>
<% end %>
<div class="vseparate">&nbsp;</div>
<div class="large-text">
<%= link_to 'Back', orders_path %>
</div>
