<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>::Explosives Inventory::</title>
    <%= stylesheet_link_tag 'main', :media => 'screen' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
	<div id="header-new" style="line-height:60px;background:#003366;color:#ffffff;">
		<table>
			<tr style="text-align:center;">
				<td style="width:250px;border:none;text-align:center;font-size:25px;">Schlumberger</td>
				<td style="width:450px;border:none;text-align:center;">&nbsp;</td>
			        <td style="width:150px;border:none;"><%= "Welcome, " + (session[:user_name].blank? ? 'Guest!' : session[:user_name]) %></td>
		 	        <td style="width:75px;border:none;"><%= link_to "Home", '/', :style => 'color:#ffffff;' %></td>
	  			<% if(session[:user_id].blank? or session[:user_id] <= 0) %>
			            	<td style="width:75px;border:none;"><%= link_to "Sign in", '/login', :style => 'color:#ffffff;' %></td>
			            	<td style="width:75px;border:none;"><%= link_to "Sign up", '/signup', :style => 'color:#ffffff;' %></td>
				<% else %>
			       		<td style="width:75px;border:none;"><%= link_to "Sign out", '/logout', :style => 'color:#ffffff;' %></td>
				<% end %>

			</tr>
	  	</table>	
	</div>
    <div class="container">
      <div style="text-align:center;"><h2>Explosive Management System</h2></div>
      <div id="content" class="round">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <ul class="navigation round">
        <li><%= link_to "About", '#', :style => 'color:#003366;'  %></li>
        <li><%= link_to "Contact", '#', :style => 'color:#003366;'  %></li>
      </ul>
    </div>

  </body>
</html>

